<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Password Reset </h3>
</div>
 <div class="modal-body" id="modal-body">

 </div>
 <!-- <div ng-if="actionList.length > 0">
    <p ng-repeat="action in actionList">
        {{action.msg}}
    <p>
 </div> -->
 <div class="modal-footer">
     <button class="btn btn-primary" type="button" ng-disabled="disableBtn" ng-click="resetPaasword()">Reset Password</button>
     <button class="btn btn-warning" type="button" ng-disabled="disableBtn" ng-click="cancel()">Cancel</button>
 </div>
