<header class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="bidgely-landing-navbar" ng-controller="HeaderCtrl">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" ng-click="navbarClicked()" ng-if="showNavbar">
                        <span class="sr-only">somes</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="bidgely-header-logo bidgely-logo" ng-click="navigate()">
                        <span>bidgely</span>
                    </a>
                </div>
                <div class="collapse navbar-collapse" uib-collapse="navbarCollapsed">
                    <ul class="nav navbar-nav navbar-right" id="header-list" ng-if="isUserLoggedIn">
                        <li >
                            <a class="navbar-link" ng-click="menuClicked('utilityPilot')">
                                <span>Current Pilot: {{utilityPilot.name}}</span>
                            </a>
                        </li>
                        <li class="vertical-divider"></li>
                        <li >
                            <a class="navbar-link" ng-click="menuClicked('logout')">
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<header id="bidgely-landing-navbar-fake"></header>
