<form class="login-form">
  <form class="pilot-select-form">
      <div class="container-fluid">
          <div class="row">
              <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                  <div class="card">
                      <h2 class="login-title">Please Login</h2>
                      <div class="card-content">
                          <div class="form-group">
                             <input type="email" class="form-control text" placeholder="Username" ng-model="user.name">
                             <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
                             <button class="btn btn-primary button" ng-click="login()">Login</button>
                             <div ng-if="showAuthFailMsg">
                                You are not authorization for login
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
          </div>
      </div>
</form>
