<div>
    <h1>Welcome to Bidgely Internal Admin Dashboard</h1>
    <div class="row">
        <div class="content">
            <div class="col-xs-4 col-sm-3">
                <div class="card menu">
                    <ul class="nav nav-stacked">
                        <li>
                            <a href="#" ng-click="sideMenuClicked($event, 'search')">
                                <span class="link">Search users</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" ng-click="sideMenuClicked($event, 'fileUpload')">
                                <span class="link"> Bulk Updatio </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" ng-click="sideMenuClicked($event, 'changePilot')">
                                <span class="link"> Change Pilot</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-8 col-sm-9">
                <div ui-view></div>
          </div>
        </div>
      </div>
</div>
